body{
    background-image: url("description_bck.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}

body button{
    height: 35px;
    width: 140x;
    color: black;
    font-size: 15px;
    cursor: pointer;  
}

h1{
    text-align: center;
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-style:oblique;
    font-weight: bold;
}